<footer class="py-3 my-3">
	<div class="d-flex flex-wrap justify-content-between align-items-center px-3 py-3">
		<a class="px-2 mt-2" href="https://github.com/raissa-k/myPetPal">
			<img role="presentation" src="/images/pet-house-kennel.svg" width="40" height="40">
			<span class="visually-hidden">This website's repository</span>
		</a>
		<a class="px-2 mb-0 text-muted text-decoration-none" href="https://github.com/AdamRobinsonSE/group-project">Group repository</a>
	</div>
	<ul class="nav justify-content-center border-top" id="cont">
		<li class="nav-item"><a href="https://www.github.com/raissa-k" class="nav-link px-2 text-muted"><i class="fa-brands fa-square-github" style="font-size: 1.5rem; color: #97c9b2" role="img" aria-label="raissa-k's GitHub" title="raissa-k's Github"></i></a></li>
		
		<li class="nav-item"><a href="https://www.github.com/AdamRobinsonSE" title="AdamRobinsonSE's GitHub" class="nav-link px-2 text-muted">
			<i class="fa-brands fa-square-github" style="font-size: 1.5rem; color: #97c9b2" role="img" aria-label="AdamRobinsonSE's GitHub"></i>
		</a></li>

		<li class="nav-item"><a href="https://www.github.com/valerievozza" title="valerievozza's GitHub" class="nav-link px-2 text-muted">
			<i class="fa-brands fa-square-github" style="font-size: 1.5rem; color: #97c9b2" role="img" aria-label="valerievozza's GitHub"></i>
		</a></li>

		<li class="nav-item"><a href="https://www.github.com/HauntedHamburger" title="HauntedHamburger's GitHub" class="nav-link px-2 text-muted">
			<i class="fa-brands fa-square-github" style="font-size: 1.5rem; color: #97c9b2" role="img" aria-label="HauntedHamburger's GitHub"></i>
		</a></li>

		<li class="nav-item"><a href="https://www.github.com/Jaehwajh" title="Jaehwajh's GitHub" class="nav-link px-2 text-muted">
			<i class="fa-brands fa-square-github" style="font-size: 1.5rem; color: #97c9b2" role="img" aria-label="Jaehwajh's GitHub"></i>
		</a></li>

		<li class="nav-item"><a href="https://www.github.com/KClemente11" title="KClemente11's GitHub" class="nav-link px-2 text-muted">
			<i class="fa-brands fa-square-github" style="font-size: 1.5rem; color: #97c9b2" role="img" aria-label="KClemente11's GitHub"></i>
		</a></li>
	</ul>
  </footer>