<form action="/pets/createPet" method="POST" class="form-group mx-auto gap-3">
	<div class="form-floating mb-3">
		<input type="text" placeholder="Enter pet name" name='petName' class="form-control" id="floatingPet" required>
		<label for="floatingPet">Enter pet name</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text" placeholder="Enter pet breed" name='petBreed' class="form-control" id="floatingAge" required>
		<label for="floatingAge">Enter pet breed</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text" placeholder="Enter pet birthday" name='petBirthday' class="form-control" id="floatingBreed" required>
		<label for="floatingBreed">Enter pet birthday</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text" placeholder="Enter pet age" name='petAge' class="form-control"
		id="floatingBirth" required>
		<label for="floatingBirth">Enter pet age</label>
	</div>
	<div class="mt-2 d-flex justify-content-between flex-wrap">
		<button type="button" class="btn btn-lg btn-secondary mt-2" data-bs-dismiss="modal">Close</button>
		<input type="submit" class="btn btn-lg btn-success mt-2">
	</div>
</form>