<p>This action is permanent.</p>
<p>Do you wish to proceed?</p>
<input type="hidden" name="todoId" id="todoDelete-id" />
<div class="modal-footer">
	<button type="button" id="todoDelete-dismiss" class="btn btn-secondary" data-bs-dismiss="modal">No, go back</button>
	<button type="button" id="del" class="btn btn-danger">Delete task</button>
</div>