<div class="col-md-6 col-lg-4 mx-auto">
	<div class="card">
	  <div class="card-header">
		<img class="mb-2" src="https://www.svgrepo.com/show/126218/pet.svg" alt="Pet paw" width="50" height="50">
		<h2 class="text-success mb-3">Add new pet</h2>
	  </div>
	  <div class="card-content"> 
		<form action="/pets/createPet" method="POST" class="form-group col-11 mx-auto">
		  <div>
			<label for="floatingPet" class="col-form-label col-form-label-lg mt-3">Enter pet name</label>
			<input type="text" placeholder="Enter pet name" name='petName' class="form-control" id="floatingPet" required>
		  </div>
		  <div>
			<label for="floatingAge" class="col-form-label col-form-label-lg mt-3">Enter pet breed</label>
			<input type="text" placeholder="Enter pet breed" name='petBreed' class="form-control" id="floatingAge" required>
		  </div>
		  <div>
			<label for="floatingBreed" class="col-form-label col-form-label-lg mt-3">Enter pet birthday</label>
			<input type="text" placeholder="Enter pet birthday" name='petBirthday' class="form-control" id="floatingBreed" required>
		  </div>
		  <div>
			<label for="floatingBirth" class="col-form-label col-form-label-lg mt-3">Enter pet age</label>
			<input type="text" placeholder="Enter pet age" name='petAge' class="form-control"
			  id="floatingBirth" required>
		  </div>
		  <input type="submit" class="btn btn-lg btn-success mb-3 mt-4 w-50">
		</form>
	  </div>
	</div>
  </div>