
		  <p class="fs-3" id="petDelete-text"></p>
		  <p>This action is permanent and will also delete all tasks related to this pet</p>
		  <p>Do you wish to proceed?</p>
		  <input type="hidden" name="petId" id="petDelete-id" />
		<div class="modal-footer">
		  <button type="button" id="petDelete-dismiss" class="btn btn-secondary" data-bs-dismiss="modal">No, go back</button>
		  <button type="button" id="delpet" class="btn btn-danger">Delete pet</button>
		</div>