<div class="col-md-6 col-lg-4 mx-auto">
	<div class="card">
	  <div class="card-header">
		<img class="mb-2" src="https://www.svgrepo.com/show/126218/pet.svg" alt="Pet paw" width="50" height="50">
		<h2 class="text-success mb-3">Add new pet</h2>
	  </div>
	  <div class="card-content px-3 py-4"> 
		<form action="/pets/createPet" method="POST" class="form-group mx-auto gap-3">
		  <div class="form-floating mb-3">
			  <input type="text" placeholder="Enter pet name" name='petName' class="form-control" id="floatingPet" required>
			  <label for="floatingPet">Enter pet name</label>
		  </div>
		  <div class="form-floating mb-3">
			  <input type="text" placeholder="Enter pet breed" name='petBreed' class="form-control" id="floatingAge" required>
			  <label for="floatingAge">Enter pet breed</label>
		  </div>
		  <div class="form-floating mb-3">
			  <input type="text" placeholder="Enter pet birthday" name='petBirthday' class="form-control" id="floatingBreed" required>
			  <label for="floatingBreed">Enter pet birthday</label>
		  </div>
		  <div class="form-floating mb-3">
			  <input type="text" placeholder="Enter pet age" name='petAge' class="form-control"
			  id="floatingBirth" required>
			  <label for="floatingBirth">Enter pet age</label>
		  </div>
		  <input type="submit" class="btn btn-lg btn-success mx-auto w-50">
		</form>
	  </div>
	</div>
  </div>