<div class="modal fade" id="petDelete-modal" tabindex="-1" aria-labelledby="petDelete-title" aria-modal="true" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title text-danger" id="petDelete-title">Delete a pet</h3>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <p class="fs-3" id="petDelete-text"></p>
		  <p>This action is permanent and will also delete all tasks related to this pet</p>
		  <p>Do you wish to proceed?</p>
		  <input type="hidden" name="petId" id="petDelete-id" />
		</div>
		<div class="modal-footer">
		  <button type="button" id="petDelete-dismiss" class="btn btn-secondary" data-bs-dismiss="modal">No, go back</button>
		  <button type="button" id="delpet" class="btn btn-danger">Delete pet</button>
		</div>
	  </div>
	</div>
  </div>