  <!-- Modal -->
  <div class="modal fade" id="petEdit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content text-center">
		<div class="modal-header">
			<h3 class="modal-title text-success" id="modal-title">Update your pet</h3>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div id="form-alert" class="alert alert-danger fade px-0 py-3 fs-4 mx-0 my-2 w-100 text-center" role="alert">
			No field may be empty
		  </div>
		<div class="modal-body">
			<form id="petEdit-form" method="dialog" action="/pet/edit/">
				<input type="hidden" name="petId" id="modalId" />
				<label for="modalName" class="col-form-label col-form-label-lg">Enter pet name</label>
				<input type="text" placeholder="Enter pet name" name="petName" class="form-control" id="modalName" required />
				<label for="modalBreed" class="col-form-label col-form-label-lg">Enter pet breed</label>
				<input type="text" placeholder="Enter pet breed" name="petBreed" class="form-control" id="modalBreed" required />
				<label for="modalBirthday" class="col-form-label col-form-label-lg">Enter pet birthday</label>
				<input type="text" placeholder="Enter pet birthday" name="petBirthday" class="form-control" id="modalBirthday" required />
				<label for="modalAge" class="col-form-label col-form-label-lg">Enter pet age</label>
				<input type="text" placeholder="Enter pet age" name="petAge" class="form-control" id="modalAge" required />
				<div class="mt-4 text-end">
					<button id="petEdit-dismiss" type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" id="petEdit-button" class="btn btn-lg btn-success">Submit</button>
				</div>
			</form>
		</div>
	  </div>
	</div>
  </div>