<%- include("partials/header", {title: "404 Not Found"}); %>
<body class="puppy-paw-background d-flex align-items-center">
	<main class="m-auto">
		  <section class="d-flex flex-column align-items-center justify-content-center">
			<h1 class="display-1">404</h1>
			<h2>The page you are looking for doesn't exist.</h2>
			<a class="my-4 btn btn-success" href="/">Back to home</a>
		  </section>
	</main>
</body>