<%- include("partials/header", {title: ""}); %>

<body class="puppy-paw-background">
    <main class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5 rounded-3 shadow-lg">
            <div class="col-10 col-sm-8 col-lg-6 px-5">
                <img src="<%= pictureUrl %>" role="presentation" class="d-block mx-lg-auto img-fluid border rounded-3 shadow-lg" alt="A random image of a pet" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6 px-5">
                <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to myPetPal</h1>
                <p class="lead">Add in any activity you have to do for your fur babies! Playtime, medication, vet
                    appointments, whatever you need!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/login" type="button" class="btn btn-success btn-lg px-4 fw-bold">Log in</a>
                    <a href="/signup" class="btn btn-outline-success btn-lg px-4">Sign up</a>
                </div>
            </div>
        </div>
    </main>

    <%- include("partials/footer"); %>
</body>

</html>