<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPetPal Login page</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css"
        integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .alertdiv {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }

        .infodiv {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        main {
            max-width: 330px;
            padding: 15px;
        }

        form label {
            visibility: hidden
        }
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="text-center puppy-paw-background">
    <% if (locals.messages.errors) { %>
        <div class="alertdiv" role="alert">
            <% messages.errors.forEach( el=> { %>
                <div class="alert alert-danger">
                    <%= el.msg %>
                </div>
                <% }) %>
        </div>
        <% } %>

            <% if (locals.messages.info) { %>
                <div role="alert" class="infodiv">
                    <% messages.info.forEach( el=> { %>
                        <div class="alert alert-danger">
                            <%= el.msg %>
                        </div>
                        <% }) %>
                </div>
                <% } %>

                    <main class="w-100 m-auto">
                        <form action="/login" method="POST" class="mb-4">
                            <img class="mb-3" src="https://www.svgrepo.com/show/177658/clipboard-list.svg"
                                alt="Clipboard with a lock" width="50" height="50">
                            <h1 class="display-4 text-success mb-5 fw-normal">Log in</h1>
                            <div>
                                <input type="email" name="email" class="form-control" id="floatingEmail"
                                    placeholder="Email">
                                <label for="floatingEmail" class="mb-0">Email</label>
                            </div>
                            <div>
                                <input type="password" class="form-control" id="floatingPassword" name="password"
                                    placeholder="Password">
                                <label for="floatingPassword" class="mb-0">Password</label>
                                <input type="submit" class="w-100 btn btn-lg btn-success">
                            </div>
                        </form>
                        <a href="/signup" class="btn btn-outline-success g-2 px-4">Or Sign Up</a>
                    </main>
</body>

</html>