<%- include("partials/header", {title: "Login" }); %>

<body  class="puppy-paw-background text-center">
    <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
                <div role="alert" class="alert alert-danger">
                    <%= el.msg %>
                </div>
                <% }) %>
    <% } %>

    <% if (locals.messages.info) { %>
            <% messages.info.forEach( el=> { %>
                <div role="alert" class="alert alert-warning">
                    <%= el.msg %>
                </div>
            <% }) %>
    <% } %>

    <main class="form-signin w-100 m-auto">
        <form action="/login" method="POST" class="mb-4">
          <img class="mb-2" src="/images/pet-house-kennel.svg"
          role="presentation" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal text-success">Log in</h1>
          <div class="form-floating mb-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-success " type="submit">Log in</button>
        </form>
        <p class="small">Don't have an account?
            <a href="/signup">Sign up</a>
        </p>
        <a class="mt-5 py-3 text-muted" href="/">Go to main page</a>
    </main>
<style>
    .form-signin {
        max-width: 330px;
        padding: 15px;
    }
    body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('../images/puppy-paw-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
    
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>