<%- include("partials/header", {title: "Signup" }); %>

<body class="text-center puppy-paw-background">
    <% if (locals.messages.errors) { %>
        <div class="alertdiv" role="alert">
            <% messages.errors.forEach( el=> { %>
                <div class="alert alert-danger">
                    <%= el.msg %>
                </div>
                <% }) %>
        </div>
    <% } %>

    <% if (locals.messages.info) { %>
        <div role="alert" class="infodiv">
            <% messages.info.forEach( el=> { %>
                <div class="alert alert-danger">
                    <%= el.msg %>
                </div>
            <% }) %>
        </div>
    <% } %>

    <main class="w-100 m-auto">
        <form action="/signup" method="POST" class="mb-4">
            <img class="mb-2" src="https://www.svgrepo.com/show/221000/clipboard-list.svg"
                alt="Clipboard with a user next to it" width="50" height="50">
            <h1 class="display-4 text-success mb-5 fw-normal">Sign up</h1>
            <div>
                <input type="text" class="form-control" id="floatingInput" name="userName"
                    placeholder="User Name">
                <label for="floatingInput" class="mb-0">User name</label>
            </div>
            <div>
                <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="Email">
                <label for="floatingEmail" class="mb-0">Email</label>
            </div>
            <div>
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword" class="mb-0">Password</label>
            </div>
            <div>
                <input type="password" class="form-control" id="floatingPasswordConfirm" name="confirmPassword"
                    placeholder="Confirm Password">
                <label for="floatingPasswordConfirm" class="mb-0">Confirm Password</label>
            </div>
            <input type="submit" class="w-100 btn btn-lg btn-success">
        </form>
        <a href="/login" class="btn btn-outline-success g-2 px-4">Or Log In</a>
    </main>
<style>
    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .alertdiv {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .infodiv {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    main {
        max-width: 330px;
        padding: 15px;
    }

    form label {
        visibility: hidden
    }
</style>
</body>
</html>