/******************************************
/* CSS
/*******************************************/

* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  .list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  .list-group-item-check:checked+.list-group-item {
    background-color: #c8e6c9;
  }

  .list-group-checkable .list-group-item {
    cursor: pointer;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
.puppy-paw-background {
    background-image: url('../images/puppy-paw-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url('../images/puppy-paw-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
}